body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

.main-wrapper {
  justify-content: flex-start;
  height: 100vh;
  background-color: #000;
}

.main-wrapper-loading {
  filter: blur(2px);
}

form,
input,
.main-wrapper,
.options,
.input,
.output,
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

form {
  width: 100%;
  flex-flow: column;
  align-items: center;
  padding: 1rem 0;
}

input {
  margin: 1rem 0;
  width: 20%;
  color: #aaa;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #aaa;
  outline: red;
}

label,
button {
  display: block;
}

button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #ddd;
  font-size: 1rem;
  border-radius: 20px;
  border: 2px solid #ddd;
}

.title,
.input,
.output,
.options {
  justify-content: flex-start;
  margin: 1rem 0;
  background-color: #222;
  color: #ddd;
  border-radius: 20px;
}
.options {
  width: 70%;
}

.input {
  font-size: 1rem;
  overflow-y: scroll;
  width: 70%;
  height: 20%;
  word-break: break-all;
  padding: 1rem;
  line-height: 1.5rem;
}

.output {
  width: 70%;
  height: 20%;
  word-break: break-all;
  font-size: 0.8rem;
}
